<h1 style="color: #333; font-size: 19px; font-weight: bold;">
  Olá, {{ studentName }}
</h1>

<p>
  A Academia GymPoint abaixo responde ao seu questionamento!
</p>

<p>
  <strong>Questão:</strong> {{ question }}
</p>

<p>
  <strong style="color: #7159c1;">
    Resposta em {{ answerAt }}:
  </strong> <br />
    {{ answer }}
</p>
